/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: lightblue;
  color: white;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

body {
    background-color: lightblue;
    background-image: url("../images/html_images/storm-clouds.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
     background-size: 100% 100%;
  }
  
.h1 {
    color: lightcyan;
    margin-left: 20px;
  }

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}
.landing-image {
  height: 250px;
  width: 80%;
}
@media screen and (min-width: 1199px) {
  .landing-image {
      height: 280px;
      width: 100%;
}
}

.weather-image {
  width: 90%;
}

.intro-text {
  font-size: 2.5rem;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
@media screen and (max-width: 1199px) {
  .intro-text {
    font-size: 2rem;
  }
}

.landing-title {
  font-size: 4rem;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

.column-card-styling {
  background-color: white;
  opacity: .8;
  height: 150%;
}

/* .column-spacer {
  margin-left: 5%;
} */

.row-background {
  background-color: white;
}
